<h1>All Breweries</h1>
<table>
  <thead>
    <tr>
      <td>Brewery Name</td>
      <td>Brewery Location</td>
    </tr>
  </thead>
  <tbody>
    <% @breweries.each do |brewery| %>
      <tr class="brewery-row" id="<%= dom_id(brewery) %>">
        <td class="name"><%= brewery.name %></td>
        <td class="location"><%= brewery.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>